.sprinters, .longdistancers, .throwers, .multi {
	background-color: #231F20;
	color: #EAEAEA;

}
.piccontain {
	display: flex;
	width: 100%;
	padding: 4% 2%;
	box-sizing: border-box;
	height: 100vh;
  }

  .box {
	flex: 1;
	overflow: hidden;
	transition: .5s;
	margin: 0 2%;
	box-shadow: 0 20px 30px rgba(0,0,0,.1);
	line-height: 0;
  }
.box a {
	width: 100%;
}
    a > img  {
	width: 200%;
	height: calc(100% - 10vh);
	object-fit: cover; 
	transition: .5s;	
  }
 
  
  .box > span {
	font-size: 3.8vh;
	display: block;
	text-align: center;
	height: 10vh;
	line-height: 2.6;
	z-index: 5;
  }
  
  .box:hover { flex: 1 1 50%; }
  .box:hover > img {
	width: 100%;
	height: 100%;
  }


 
.images img {
	width: 1000px;
	height:806px;
  }


#athletenavhead {
   border-color: none;
}
header {
    margin-left: -5px;
   
    color: #231F20;
	border: none;
  }
  section h1 {
	margin-left: 1vw;
	font-size: 2vw;
  }
  .headernav {
	border:none;
	height: 5vh;
  }
  .athletesdiv {
	margin-top: 0%;
  }
 
  .statscol h5{
	color: #EAEAEA;
  }
  .namecol {
	width: 100%;
	height: 100%;
	background-color: #EAEAEA;
	color: #231F20;


  }
.piccol {


}
.statscol {
	background-color: #EAEAEA;
	color: #EAEAEA;
  }

.indimg {
	width: 100%;
	height: 100%;
}


.imgbox:hover { flex: none; }
.imgbox:hover > img {
	width: 100%;
	height: 100%;
}
  
.imgbox > img {
	width: 100%;
	height: 100%;
	overflow:auto; 
  }



  
  .athletename {
    font-family: 'Jost', sans-serif;
	color: #231F20;
	font-size: 10vw;
  }
  .navhead {
	height: 8vh;
  }	

  header {
	border-bottom: none;
	box-shadow: none;
   
  }

  .headernav .same {
	color: #8E793E;
 }

 .me-2:hover {
	background-color: #231F20;
	color: #EAEAEA;
	border: 1px solid #8E793E;

 }