body {
    background-color:#231F20;
    color: #AD974F;
    width: 100%;
  }

.px-2 {
    font-size: large;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 800; 
    align-content: center;
      
}
.me-2 {
    border-color: #EAEAEA;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #AD974F;
   
}
.nav-link:hover {
  color: #EAEAEA;
}
.sign {
    background-color: #231F20;
    border-color: #AD974F;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #EAEAEA;
}
.sign:hover {
   color: #AD974F;
   border-color: #EAEAEA;

}

.ml2 {
    font-weight: 900;
    font-size: 2.5em;
  }
  
  .ml2 .letter {
   
    line-height: 1em;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 800;
    color: #AD974F;
    text-shadow: #8E793E 2px 5px;
    letter-spacing: -2px;
  }

  header {
    border-bottom: 2px solid #EAEAEA;
    box-shadow: 2px 1px #8E793E;
    color: #AD974F;
  }
  header .nav {
    color: #AD974F;
  }

  .navend {
   
    color: #AD974F;
    border: none;
  }
  .navend a:hover {
  border: 1px solid #8E793E;
  
 }
 .topfooter {
   
   
    border-top: 2px solid #EAEAEA;
  }

  .upimgall {
    height: 30vh;
  }

  .upimgall .updiv{
    font-size: large;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 800;
    margin-top: 5vh;
    background-color: #19204E;
    background-image: linear-gradient(to top right, rgba(228,221,221, 0.50) 10%, rgba(0,0,0, 0.80 ) 60%), url("pics/womenrace1.jpg");
  }

 .upimg1 {
    background-image: url("pics/menrace1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    color: #EAEAEA;
    padding: 2vw;
    margin: 1vw;
 }
 .upimg2 {
    background-image: url("pics/womenrace1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #EAEAEA;
    padding: 2vw;
    margin: 1vw;
 }
 .upimg3 {
    background-image: url("pics/womenrace2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #EAEAEA;
    padding: 2vw;
    margin: 1vw;
 }
 .upimg4 {
    background-image: url("pics/menrace2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #EAEAEA;
    padding: 2vw;
    margin: 1vw;
 }

 .noimg {
    background-color: black;
    color: #AD974F;
    padding: 2vw;
    margin: 1vw;
 }
.sec1 {
   border-bottom: 3px solid #EAEAEA;
   height: 20%;
   box-shadow: 2px 1px #8E793E;
   
}
 .sec2, .sec3, .sec4, .sec5, .sec6 {
    border-bottom: 3px solid #EAEAEA;
    height: 20%;
    box-shadow: 2px 1px #8E793E;
    padding-top: 3vh;
 }
 .vword {
    color: #AD974F;
    font-weight: bolder;
 }

 .mainsecs {
    height: 43vh;
 }
 h1 {
    text-shadow: #8E793E 1px 1px;
    font-size: larger;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 800;

 }
 .mainsecs h1 {
    font-size: larger;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 800;
 }
.logoimg {
   width: 7vw;
   height: 7vh;
  
}

 .newssec {
    background-color: #8E793E;
    height: 50vh;

 }
 .arttitle {
   font-size: larger;
   font-family: 'Jost', sans-serif;
   font-style: normal;
   font-weight: 800;
   color: #EAEAEA;
   padding-bottom: 1.5vh;
 }
 .newsh1 {
    color: #EAEAEA;
    text-shadow: #8E793E 1px 1px;
 }
 .arttext {
    color: #231F20;
    border: 1px solid #EAEAEA;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 800;
    height: 35vh;
    overflow: scroll;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #EAEAEA;
 }
 .newsbuttons {
    background-color: #231F20;
    color: #EAEAEA; 
    margin-top: 2vh;
 }
 .newsbuttons:hover {
  background-color: #231F20;
   color: #8E793E; 
}
 .sec5 {
    height: 50vh;
 }

 .featlinks {
    height: 30vh;
    width: 45vw;
 }
 h5 {
    color: #AD974F;
    font-family: 'Jost', sans-serif;
    font-style: normal;
    font-weight: 800;
 }

 header li a {
   color: #AD974F;
 }
 header li a:hover {
   color: #AD974F;
   font-weight: bold;
   font-size: larger;
 }

 .tableFixHead {
   overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
   height: 25vh;
   width: 20vw;
   margin: 1.5vw .5vh;
   border: 2px solid #EAEAEA;
 }
 .tableFixHead thead th {
   position: sticky; /* make the table heads sticky */
   top: 0px; /* table head will be placed from the top of the table and sticks to it */
 }
 table {
   border-collapse: collapse; /* make the table borders collapse to each other */
   width: 100%;
 }
 th,
 td {
   padding: 8px 16px;
   border: 1px solid #EAEAEA;
 }
 th {
   text-shadow: #8E793E 1px 1px;
   font-size: larger;
   font-family: 'Jost', sans-serif;
   font-style: normal;
   font-weight: 800;
   background-color: #8E793E;
   color: #EAEAEA;
 }
 tr th {
   color: #EAEAEA;
 }

 .sec7 {
   margin-left: 15%;
   padding-top: 1%;
 }

/*MODAL*/
.modal-sheet .modal-dialog {
   width: 380px;
   transition: bottom .75s ease-in-out;
 }
 .modal-sheet .modal-footer {
   padding-bottom: 2rem;
 }
 
 .modal-alert .modal-dialog {
   width: 380px;
 }
 
 .modal-tour .modal-dialog {
   width: 380px;
 }

 .bd-placeholder-img {
   font-size: 1.125rem;
   text-anchor: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   user-select: none;
 }

 @media (min-width: 768px) {
   .bd-placeholder-img-lg {
     font-size: 3.5rem;
   }
 }

 .b-example-divider {
   height: 3rem;
   background-color: #231F20;
   border: solid rgba(0, 0, 0, .15);
   border-width: 1px 0;
   box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
 }

 .b-example-vr {
   flex-shrink: 0;
   width: 1.5rem;
   height: 100vh;
 }

 .bi {
   vertical-align: -.125em;
   fill: currentColor;
 }

 .nav-scroller {
   position: relative;
   z-index: 2;
   height: 2.75rem;
   overflow-y: hidden;
 }

 .nav-scroller .nav {
   display: flex;
   flex-wrap: nowrap;
   padding-bottom: 1rem;
   margin-top: -1px;
   overflow-x: auto;
   text-align: center;
   #EAEAEA-space: nowrap;
   -webkit-overflow-scrolling: touch;
 }
.donatebtn {
   border: none;
   font-size: large;
   font-family: 'Jost', sans-serif;
   font-style: normal;
   font-weight: 800;
   color: #EAEAEA;
}
.donatebtn:hover {
   border: none;
   font-size: large;
   font-family: 'Jost', sans-serif;
   font-style: normal;
   font-weight: 800;
   color: #EAEAEA;
   background-color: #8E793E;
}


.container-fluid {
  width: 100%;
  height: 20%;

}
.ranksec table{
  height: 75%;
}



/*NAV TESTING */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.headercontainer {
  width: 100%;
  margin-left: 0px;
  color: #AD974F;
}

.nav-link {
  border-color: #EAEAEA;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: larger;
  color: #AD974F;
}

.same {
  color: #8E793E;
}