
.blog-header {
	border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
  font-family: 'Jost', sans-serif;
	font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
	text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Jost', sans-serif;
  }
  
  .display-4 {
	font-size: 2rem;
  text-shadow: #8E793E 1px 1px;
  }
  @media (min-width: 768px) {
	.display-4 {
	  font-size: 2rem;
    text-shadow: #8E793E 1px 1px;
	}
  }
  .maintitle {
   
    color: #EAEAEA;

  }
  .flex-auto {
	flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
	.h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
	margin-bottom: 4rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
	margin-bottom: 4rem;
  }
  .blog-post-title {
	font-size: 2.5rem;
  }
  .blog-post-meta {
	margin-bottom: 1.25rem;
	color: #727272;
  }
  
  /*
   * Footer
   */
  .blog-footer {
	padding: 2.5rem 0;
	color: #727272;
	text-align: center;
	background-color: #f9f9f9;
	border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
	margin-bottom: 0;
  }
  .tophead {
	background-color: #AD974F;
  }
  hr {
	color: red;
	border: 2px solid #EAEAEA;
  }
  a {
    font-family: 'Jost', sans-serif;
    color: #8E793E;

  }
  p a {
	height: 2vh;
  }
 
  .fa-solid {
	padding-right: 2vw;

  }
  .archivediv {
	background-color: ;

  }
  li a {
    font-family: 'Jost', sans-serif;
    color: #EAEAEA;
  }

  .archivediv h4 {
	text-decoration: underline;
  }
  .newsnav a {
    font-family: 'Jost', sans-serif;
    color: #231F20;
	font-size: larger;
  }
  .newsnav {
	width: 97%;
	margin-left: 2vw;
	margin-right: 2vw;
	

  }
 
  .newsdiv {
	background-color: #EAEAEA;
  }
  .newsnav a:hover {
	color: #8E793E;
  }
  li a:hover {
	color: #8E793E;
}
.navhead {
  height: 8vh;
}
header {
  border-bottom: none;
  box-shadow: none;
 
}

.headernav .same {
  color: #8E793E;
}
.border-bottom {
  color: #EAEAEA;
  font-size: larger;
}
.bb2 {

    width: 155%;
    
}
.field2 {
  width: 100%;
}
.navend a:hover{
  background-color: #231F20;
  border: 

}
.uevents{
  
  font-size: larger;
}


