body {
    background-color:#231F20;
    color: #AD974F;
    width: 100%;
    height: 100%;
  }

.px-2 {
    font-size: large;
    font-family: 'Jost', sans-serif;
}
.me-2 {
    border-color: #EAEAEA;
    font-family: 'Jost', sans-serif;
    color: #AD974F;
}
.me-2:hover {
  border-color: #8E793E;
  font-family: 'Jost', sans-serif;
  color: #EAEAEA;
  background-color:#231F20;
}
.sign {
    background-color: #231F20;
    border-color: #EAEAEA;
    font-family: 'Jost', sans-serif;
    color: #AD974F;
}



.ml2 {
    font-weight: 900;
    font-size: 2.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
    font-family: 'Arvo', serif;
    color: #AD974F;
    text-shadow: #8E793E 2px 5px;
    letter-spacing: -2px;
  }

 

 .topfooter {
    width: 100%;
   
    border-top: 2px solid #EAEAEA;
  }
.eventnamebox {
    height: 30vh;
    margin: 2.5vw 1.5vh;
    margin-left: 3vw;
    background-color: #8E793E;
    border: 2px solid #EAEAEA;
    overflow-x: scroll;
  }
  
  .eventnamebox h3 {
    color: #EAEAEA;
    font-size: 3vh;
    width: 100%;
    padding-right: 1vw;
  }

  .tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 30vh;
   
    margin: 1.5vw .5vh;
    border: 2px solid #EAEAEA;
  }
  .tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
  }
  table {
    border-collapse: collapse; /* make the table borders collapse to each other */
    width: 100%;
  }
  th,
  td {
    padding: 8px 16px;
    border: 1px solid #8E793E;
    background-color: #EAEAEA;
    color: #231F20;
  }
  th {
    text-shadow: #8E793E 1px 1px;
    font-size: larger;
    font-family: 'Jost', sans-serif;
    background-color: #8E793E;
    color: #EAEAEA;
  }
  section h1, section h2  {
    text-shadow: #8E793E 1px 1px;
    font-size: larger;
    font-family: 'Jost', sans-serif;
    background-color: #AD974F;
    border: 2px solid #8E793E
  }

  h3 {
        text-shadow: #8E793E 1px 1px;
    
        font-family: 'Jost', sans-serif;
        background-color: #8E793E;
        color: #EAEAEA;
      }

  tr th {
    color: #EAEAEA;
  }
  .eventh3 {
    margin-top: 10vh;
   
  }
  .allthrow {
    overflow-y: auto;

  }

  .headernav li a {
    color: #AD974F;
  }
  .headernav li a:hover {
    color: #8E793E;
    font-weight: bold;
    font-size: larger;
  }
  div h2 {
    color: #EAEAEA;
  }

 h2 {
    color: #EAEAEA;
  }

  .headernav .same {
    color: #8E793E;
 }
.track {
  width: 100%;
}
 .track h1 {
  color: #231F20;
  width: 100%;
  word-break:break-all;

 }

 .text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}


/*NAV TESTING */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.headercontainer {
  width: 100%;
  margin-left: 0px;
  color: #AD974F;
}

.nav-link {
  border-color: #EAEAEA;
  font-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: larger;
  color: #AD974F;
}

.same {
  color: #8E793E;
}
.logoimg {
  width: 7vw;
  height: 7vh;
 
}
.nav-link:hover {
  color: #EAEAEA;
}
.sign {
  color: #EAEAEA;
  border-color: #AD974F;
  ont-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: larger;

}
header li a:hover {
  color: #AD974F;
  font-weight: bold;
  font-size: larger;
}
.sign:hover {
  color: #AD974F;
  border-color: #EAEAEA;
  ont-family: 'Jost', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: larger;

}