.container {
  width: 95%;
}
h2 {
    text-shadow: #8E793E 1px 1px;
    font-size: larger;
    font-family: 'Jost', sans-serif;
    color: #8E793E;

}
p  {
    font-size: larger;
    font-family: 'Jost', sans-serif;
    color: #AD974F;
    padding-top: 2vh;

}

h4  {
    font-size: larger;
    font-family: 'Jost', sans-serif;
    color: #AD974F;
    padding-top: 2vh;

}
label {
    font-family: 'Jost', sans-serif;
    color: #AD974F;

}
.sign {
    background-color: #AD974F;
    color: #EAEAEA;
}
.sign:hover {
    border: 2px solid #AD974F;
}

.badge {
    background-color: #AD974F;
}

.cart {
    font-family: 'Jost', sans-serif;
    color: #AD974F;
}
header {
    border-bottom: 2px solid #EAEAEA;
    box-shadow: none;
   
  }
  .me-2:hover {
    color: #EAEAEA;
  }