body {
    background-color:#D6D6D6;
    color: #19204E;
  }

.px-2 {
    font-size: large;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: italic;
}
.me-2 {
    border-color: white;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: italic;
    color: #19204E;
}
.sign {
    background-color: #D6D6D6;
    border-color: white;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: italic;
    color: #19204E;
}
.navhead {
    border-bottom: 3px solid #DF1B3F;
}
.ml2 {
    font-weight: 900;
    font-size: 2.5em;
  }
  
  .ml2 .letter {
    display: inline-block;
    line-height: 1em;
    font-family: 'Arvo', serif;
    color: #19204E;
    text-shadow: #DF1B3F 2px 5px;
    letter-spacing: -2px;
  }

  header {
    margin-left: -5px;
    box-shadow: 1px 1px #FCB300;
    color: #19204E;
  }
  header .nav {
    margin-right: 65px;
    color: #19204E;
  }
  .navend {
    margin-right: 25px;
    color: #19204E;
  }
 .topfooter {
    width: 100%;
   
    border-top: 2px solid white;
  }

  .upimgall {
    height: 30vh;
  }

  .upimgall div{
    font-size: large;
    font-family: 'Arvo', serif;
    margin-top: 5vh;
  }

 .upimg1 {
    background-image: linear-gradient(to top right, rgba(228,221,221, 0.50) 10%, rgba(0,0,0, 0.80 ) 60%), url("pics/menrace1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    color: white;
    padding: 2vw;
    margin: 1vw;
 }
 .upimg2 {
    background-image: linear-gradient(to top right, rgba(228,221,221, 0.50) 10%, rgba(0,0,0, 0.80 ) 60%), url("pics/womenrace1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 2vw;
    margin: 1vw;
 }
 .upimg3 {
    background-image: linear-gradient(to top right, rgba(228,221,221, 0.50) 10%, rgba(0,0,0, 0.80 ) 60%), url("pics/womenrace2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 2vw;
    margin: 1vw;
 }
 .upimg4 {
    background-image: linear-gradient(to top right, rgba(228,221,221, 0.50) 10%, rgba(0,0,0, 0.80 ) 60%), url("pics/menrace2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    padding: 2vw;
    margin: 1vw;
 }

 .noimg {
    background-color: black;
    color: #DF1B3F;
    padding: 2vw;
    margin: 1vw;
 }

 .sec1, .sec2, .sec3, .sec4, .sec5, .sec6 {
    border-bottom: 3px solid white;
    height: 15vh;
    box-shadow: 2px 1px #FCB300;
    padding-top: 3vh;
 }
 .vword {
    color: #DF1B3F;
    font-weight: bolder;
 }

 .mainsecs {
    height: 43vh;
 }
 h1 {
    text-shadow: #DF1B3F 1px 1px;
    font-size: larger;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: italic;

 }
 .mainsecs h1 {
    font-size: larger;
    font-family: "merriweather", serif;
    font-weight: 700;
    font-style: italic;
 }

 .lateeventssec {
    height: 50vh;

 }
 .newssec {
    background-color: #19204E;
    height: 50vh;

 }
 .arttitle {
    color: white;
 }
 .newsh1 {
    color: white;
    text-shadow: #DF1B3F 1px 1px;
 }
 .arttext {
    color: white;
    border: 1px solid white;
    height: 35vh;
    overflow: scroll;
    padding-bottom: 2vh;
 }
 .newsbuttons {
    background-color: white;
    color: #DF1B3F; 
 }
 .sec5 {
    height: 50vh;
 }

 .featlinks {
    height: 30vh;
    width: 45vw;
 }
 h5 {
    color: #19204E;
    font-family: 'Arvo', serif;
 }
 .heacernav {
    color: #19204E;
 }


 

